---
import "../styles/global.css"
import Sidebar from "../components/sidebar.vue"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body id="app" class="min-h-screen p-2">
		<main class="app-container flex">
			<div class="sidebar p-2 w-3xs text-base dark:bg-mist-900 overflow-y-auto">
				<Sidebar client:only="vue" />
			</div>
			<div class="content p-2 flex-1 h-full overflow-y-auto">
				<slot />
			</div>
		</main>
	</body>
</html>

<style scoped>
	.app-container {
		height: calc(99vh - 2rem);
		margin: 0 auto;
	}

	.sidebar {
		box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
	}
</style>
